#container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  clear: both;
  padding: 10px;
}

#game {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  clear: both;
  padding: 10px;
  border: 1px solid black;
}

#field {
  background-color: #0b870d;
  width: 1020px;
  height: 425px;
  padding-left: 20px;
  padding-right: 20px;
}

#rules {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border: 1px solid white;
  background: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;
}

#error {
  display: none;
  position: absolute;
  top: 75px;
  left: 75px;
  right: 75px;
  bottom: 75px;
  border: 1px solid red;
  background: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
}

#flag {
  display: none;
  position: absolute;
  top: 125px;
  left: 125px;
  right: 125px;
  bottom: 125px;
  border: 3px solid green;
  background: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20;
}

#field-container {
  position: relative;
}

#rules-close {
  float: right;
}

#error-close {
  float: right;
}

#rules-link {
  float: right;
}

body {
  font-family: sans-serif;
}

img.card {
  width: 140px;
}

#gameState {
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}
